@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);

    }
}

@keyframes sparks{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 