.page {
  margin-block-start: calc(var(--primary-spacing, 25px) * 4);
  margin-block-end: calc(var(--primary-spacing, 25px) * 4);
  font-family: var(--inter-variable-font), sans-serif;
  background-image: var(--background-gradient, #fff);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-main-font-weight);
}

.container {
  margin: 0 auto;
  border: 2px solid var(--main-color, #000);
  max-inline-size: var(--block-width);
}

.header {
  margin-block-end: calc(var(--primary-spacing, 25px) * 4 - 1px);
  padding-block-start: var(--padding-header, 2rem);
  padding-block-end: var(--padding-header, 2rem);
  font-family: var(--press-start-font), fantasy;
  background-color: var(--main-background-color, #fff);
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.header-title__logo {
  font-size: clamp(3.0625rem, 1.5vw + 2.71rem, 4.0625rem);
}
.header-title__text {
  font-weight: 700;
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.4375rem);
  text-transform: uppercase;
}

.card-list {
  display: grid;
  gap: calc(var(--primary-spacing, 25px) * 2);
}

.card {
  font-family: var(--inter-variable-font);
  background-color: var(--main-background-color, #fff);
}

.card__title {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1.25;
  font-variation-settings: "wght" var(--card-title-font-weight);
}

.card__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background-color: #fff;
}

.filter-saturate-low {
  filter: saturate(25%);
}
.filter-saturate-high {
  filter: saturate(200%);
}
.filter-grayscale-saturate {
  filter: grayscale(60%) saturate(200%);
}
.filter-invert {
  filter: invert(80%);
}
.filter-sepia {
  filter: sepia(100%);
}
.filter-blur {
  filter: blur(10px);
}
.filter-hue-rotate {
  filter: hue-rotate(120deg) saturate(150%) contrast(40%);
}

.card__label {
  position: absolute;
  top: var(--primary-spacing);
  right: var(--primary-spacing);
  color: #000;
  font-family: var(--press-start-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.6),
    -1px 1px 0 rgba(255, 255, 255, 0.6),
    1px -1px 0 rgba(255, 255, 255, 0.6),
    -1px -1px 0 rgba(255, 255, 255, 0.6);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.6)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0;
}

.card__image {
  object-fit: cover;
  object-position: center;
  background-position: center;
  background-size: contain;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: var(--primary-spacing, 25px);
  margin-inline-start: var(--primary-spacing, 25px);
  margin-inline-end: var(--primary-spacing, 25px);
  font-size: var(--primary-font-size);
  line-height: 21px;
  font-variation-settings: "wght" var(--card-main-font-weight);
}

.card__buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
  gap: 5px;
  padding: var(--primary-spacing, 25px);
}

.button {
  margin: 0;
  font-family: var(--press-start-font), fantasy;
  font-size: 14px;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.text-button {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  color: var(--main-color);
  background-color: var(--accent-color);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.text-button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.text-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.text-button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.card__button {
  align-self: end;
  margin: var(--primary-spacing, 25px);
}

.main-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: calc(var(--primary-spacing, 25px) * 2);
  border: none;
}

.main-actions__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 17px;
  background-color: var(--main-background-color, #fff);
  inline-size: clamp(
    19.25rem,
    calc(19.25rem + (100vw - 23.4375rem) * 0.0272),
    23vw
  );
}

.main-actions__image {
  inline-size: clamp(21px, calc(30.465px - 0.657vw), 28px);
}

.floppy__image {
  aspect-ratio: 1/1;
}

.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding-inline: clamp(30px, calc(43.521px - 0.939vw), 40px);
  padding-block: 30px;
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__image {
  flex-shrink: 0;
  inline-size: 39px;
}
.dialog__button {
  margin-top: 30px;
  padding-block: 10px;
  inline-size: 100%;
}

.dialog__text {
  font-family: var(--press-start-font, fantasy);
  font-size: 14px;
  line-height: 1.5;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width>=980px) {
  .card__title {
    flex-direction: row;
  }
  .main-actions__button {
    flex-direction: row;
  }
}

@media (width<375px) {
  .header-title__logo {
    font-size: var(--primary-font-size);
  }
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  inline-size: 41px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon {
  transition: fill 0.5s linear;
}

.like-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.like-icon:hover .core {
  opacity: 1;
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: bounce 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}
